.screen,
.login {
  height: 100vh;
}
.screen {
  background: linear-gradient(to left, transparent, rgb(53, 112, 139) ), url("../public/bg.jpg") no-repeat ;
  background-position: center;
  background-size: cover;
}



footer {
  position: fixed;
  bottom: 20px;
  width: 50%;
}
