.screen,
.login {
  height: 100vh;
}
.screen {
  background: linear-gradient(to right, #c3376385, #1d2571aa),
    url("../public/bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

footer {
  position: fixed;
  bottom: 20px;
  width: 50%;
}
