.screen,
.login {
  height: 100vh;
}
.screen {
  background: linear-gradient(to bottom, transparent, rgb(117, 167, 214)),
    url("../public/bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

footer {
  position: fixed;
  bottom: 20px;
  width: 50%;
}
